*.ilk
*.obj
*.tlog
*.lastbuildstate
*.log
*.idb
*.VC.db-wal
*.sqlite
*.VC.opendb
*.vcxproj
*.VC.db
*.vsidx
*.lock
*.suo
*.VC
*.ipch
*.sln
*.wsuo
*.json
*.pdb
*.exe
*.user
*.filters
*.exe.recipe
*.VC.db-shm
